# --- Security ---
# Ignore all files inside the certs directory...
/certs/*

# ...but DO NOT ignore the .gitkeep file. This forces Git to track the directory.
!/certs/.gitkeep

# Ignore the environment file that contains paths to the certificates.
/env_file

# --- Python ---
# Ignore Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore virtual environment directories
# Common names include venv, .venv, env, .env
venv/
.venv/
env/
.env/

# --- IDE/Editor ---
# Ignore common IDE/editor-specific directories
.idea/
.vscode/


